.sing-in-container
    sing-in-form(data-output-sentCode='sentCode')
    code-form(data-output-approved='isRegisteredUser' data-input-phoneNumber='phoneNumber')
    create-account-form(data-output-createAccount='createAccount')
    password-form(data-output-enteredPassword='openChat')
