.chat-container
    .chat
        chats-component
            .user-chat(data-for='chats')
                .photo
                    img(src='[photo]')
                    .isOnline
                .message-params
                    .name
                        span='[name]'
                        span='[lastMassageTime]'
                    .message
                        span='[lastMessage]'
                        span(class='have-unread')='[messages]'

        chat-body(data-output-toggleProfile='toggleProfile')
        profile-component(data-output-toggleProfile='toggleProfile')
