.chat-container
    .chat
        chats-component(data-output-loggedOut='loggedOut' data-output-selectChat='selectChat' data-output-searchChat='searchChat')
            .buttons(data-for='chats')
                button-component(data-element-ref='selectChat').user-chat
                    .user
                        .photo
                            img(src='[photo]')
                            .isOnline
                        .message
                            .name
                                span='[name]'
                            .message-text
                                span='[lastMessage]'

                        .message-params
                            .time='[lastMassageTime]'
                            span.unread='[messages]'



        chat-body(data-output-toggleProfile='toggleProfile' data-input-user='openChat')
        profile-component(data-output-toggleProfile='toggleProfile' data-input-user='openChat')
