div
    .telegram-logo
    .labels-container
        img.image(srcset="../images/Login_1@1x.png 1x, ../images/Login_1@2x.png 2x, ../images/Login_1@3x.png 3x")
        .header='[phoneNumber]'
        .notice='We have sent you an SMS with code.'
    inputs-wrapper(class='phone')
        input(class='select-country' placeholder='Code' data-element-ref='input' autocomplete='no')
