@import './colors';

main-component {
  .main-component {
    display: inherit;
  }

  chat-component {
    display: none;
  }
  &.logged {
    sing-in {
      display: none;
    }
    chat-component {
      display: block;
      height: 1px;
      min-height: 100%;
    }
  }
}
