@import "colors";

$width: 360px;
$padding: 20px;
$paddingTop: 105px;

sing-in {
  code-form, create-account-form, password-form {
    display: none;
  }


  &.code-form, &.create-account-form, &.password-form {
    sing-in-form {
      display: none;
    }
  }

  &.code-form {
    code-form {
      display: block;
    }
  }

  &.create-account-form {
    create-account-form {
      display: block;
    }
  }

  &.password-form {
    password-form {
      display: block;
    }
  }

  .sing-in-container {
    width: $width;
    padding: $paddingTop $padding;
    margin: 0 auto;

    .header {
      font-size: 30px;
      line-height: 1;
      color: #000;
      text-align: center;
    }

    .notice {
      font-size: 14px;
      line-height: 1.5;
      color: rgb(113, 117, 121);
      text-align: center;
      padding: 25px 65px;
    }

    .image {
      text-align: center;
      display: block;
      margin: 0 auto;
      margin-bottom: 50px;
    }

    inputs-wrapper {
      margin: 25px 0;
      display: block;

      &.phone {
        .phone-number {
          width: 100%;
          display: flex;
        }

        .select-country {
          flex: 1;
          height: 42px;
        }
      }
    }

    autocomplete-component {
      .option {
        cursor: pointer;
        font-size: 16px;

        &:hover {
          color: $light-blue;
          background-color: rgb(234, 240, 249);
        }

        &:after {
          clear: both;
          display: block;
          content: '';
        }
        .flag, .title, .phone-number {
          pointer-events: none;
        }
        .flag {
          display: inline-block;
          width: 50px;
        }

        .title {
          padding-left: 20px;
          color: #000;
        }

        .phone-code {
          float: right;
          padding-right: 15px;
          color: $light-gray-1;
        }
      }
    }
  }

  @media only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {

  }
}
