.chats-container
    .chat-menu
        .photo-container
            .photo
                img(data-attr='src::photo')
            .creds
                .name='[name]'
                .status(data-class='isOnline')
                    span='[time]'
        .menu-container
            .search(data-element-ref='search')
                button-component(data-output-click='search').rounded
                    span.icon.icon-search_svg
            .menu(data-element-ref='menu')
                button-component(data-output-click='toggleProfile').rounded
                    span.icon.icon-more_svg
    .messages(data-element-ref='messages')
        .message(data-for='messages')
            .message-body(data-class='[from, type]')
                .bottom-shadow
                .side-shadow
                span.picture
                    img(data-attr="src::imageUrl")
                span.message-text='[message]'
                span(data-class='isRead ? "read" : ""').message-option
                    span='[time]'
                    span.icon(data-class='isRead ? "icon-1check_svg" : "icon-2checks_svg"')
    .enter-message-field
        .message-container
            .shadows-container
                .bottom-shadow
                .side-shadow
                .smiles
                    button-component.rounded
                        span.icon.icon-smile_svg
                .textarea-container
                    .editor(contenteditable='true')
                .attach-file
                    button-component.rounded
                        span.icon.icon-attach_svg
            .control-panel-container
                button-component.blue.rounded
                    span.icon.icon-microphone_svg
