.chats-container
    .chats-options
        .menu-toggler
            button-component.rounded
                span.icon.icon-menu_svg
        .input-container
            span.icon.icon-search_svg
            input(data-element-ref='search' placeholder='Search')
    .chats
        | [[insertComponent]]
