.chats-container
    .chats-options
        .menu-toggler
            span.menu(data-element-ref='menu')
        .input-container
            input(data-element-ref='search')
    .chats
        | [[insertComponent]]
